.contact-section {
  background-color: #000;
  color: #ffd700;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.contact-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  background-color: #daa520;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.contact-form button:hover {
  background-color: #ffd700;
  color: #333;
}

.alert {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: fadeAlert 1s ease-in-out forwards;
}

@keyframes fadeAlert {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
